var path = require("path");
module.exports = {
    entry: [
        './src/calendar.ts'
    ],
    output: {
        path: path.resolve(__dirname, "./wwwroot"),
        filename: "bundle.js"
    },
    resolve: {
        extensions: [
            '.js',
            '.ts',
            ".tsx"
        ],
    },
    module: {
        rules: [
            {
                test: /\.tsx?$/,
                loaders: [
                    'awesome-typescript-loader'
                ],
                exclude: /node_modules/
            }
        ]
    },
    devServer: {
        contentBase: path.join(__dirname, "./wwwroot")
    },
    devtool: "source-map"
};
